@font-face {
    font-family: 'cartoon name';
    src: url(/fonts/04B_30__.TTF);
}

@font-face{
    font-family: 'carousel title';
    src: url(/fonts/Pong-Game.otf);
}



.container-article-page{
    padding: 0;
}

.container-article-item{
    margin-top: 7em;
    width: 90vw;
    max-width: 800px;
    min-height: 70vh;
    max-height: 80vh;
    min-width: 300px;
    background-color: rgba(82, 81, 80, 0.509);
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto 1fr 1fr;
    animation: aparition .7s ease forwards;
    -webkit-animation: aparition .7s ease forwards;
    -o-animation: aparition .7s ease forwards;
    -ms-animation: aparition .7s ease forwards;
}

.img-article{
    grid-column: 1/2;
    -ms-grid-column: 1/2;
    grid-row: 1/5;
    -ms-grid-row: 1/5;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
    background-color: rgba(0, 0, 0, 0.285);
}

.img-article img{
    object-fit: contain;
    -o-object-fit: contain;
    width: 100%;
    min-width: 150px;
    /* max-width: 250px; */
    /* background-color: aliceblue; */
    height: 100%;
}

.title-article{
    grid-row: 1/2;
    -ms-grid-row: 1/2;
    grid-column: 2/3;
    -ms-grid-column: 2/3;
    /* background-color: aquamarine; */
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    max-width: 100%;
    min-width: 100%;
}

.title-article h2{
    text-align: center;
    margin: 0 auto;
    /* background-color: antiquewhite; */
    color: black;
    font-size: 1.8rem;
    font-family: 'cartoon name', 'roboto', Arial, Helvetica, sans-serif;
}

.description-article{
    grid-row: 2/3;
    -ms-grid-row: 2/3;
    grid-column: 2/3;
    -ms-grid-column: 2/3;
    /* max-width: 100%; */
    /* background-color: rgb(127, 255, 144); */
    font-size: 18px;
    padding: 20px 10px;
    text-align: center;
}

.talla-article{
    grid-column: 2/3;
    -ms-grid-column: 2/3;
    grid-row: 3/4;
    -ms-grid-row: 3/4;
    text-align: center;
    /* background-color: aliceblue; */
}

.talla-article p{
    font-weight: 600;
}

.price-article{
    grid-row: 3/4;
    -ms-grid-row: 3/4;
    grid-column: 2/3;
    -ms-grid-column: 2/3;
    /* background-color: aquamarine; */
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.cantidad-article{
    grid-column: 2/3;
    -ms-grid-column: 2/3;
    grid-row: 4/5;
    -ms-grid-row: 3/4;
    /* background-color: aquamarine; */
}

.cantidad-article .color-cantidad{
    color: rgb(17, 17, 16);
}

.add-to-car{
    grid-row: 4/5;
    -ms-grid-row: 4/5;
    grid-column: 2/3;
    -ms-grid-column: 2/3;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.add-to-car button{
    min-width: 60%;
    /* background-color: orange; */
    background-color: #008F8C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.7em;
}

.add-to-car button:hover{
    background-color: #12b2af;
}

.padding-div{
    width: 75%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    gap: 3%;
    padding-left: 5%;
    color: white;
    font-style: italic;
}

.padding-div ion-icon{
    height: 50px;
    width: 50px;
    color: white;
    /* background-color: aqua; */
}

.padding-div ion-icon:hover{
    color: rgb(20, 20, 20);
    cursor: pointer;
    position: relative;
}

.padding-div ion-icon:hover::after{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 50%;
    z-index: -1;
    animation: expanding .5s linear forwards;
    -webkit-animation: expanding .5s linear forwards;
    -o-animation: expanding .5s linear forwards;
    -ms-animation: expanding .5s linear forwards;
}


.related-products{
    margin-top: 10vh;
    width: 100%;
    min-height: 40vh;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
    /* background-color: rgb(184, 234, 123); */
}

.related-products h2{
    height: 15%;
    /* background-color: antiquewhite; */
    width: 100%;
    text-align: center;
    font-family: 'carousel title', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
}

.slider-container{
    width: 90%;
    max-width: 800px;
    border-radius: 5px;
    overflow-x: hidden;
    /* background-color: #62696b3d; */
    padding: .8em;
}

.slider-grande{
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    gap: 30px;
    /* background-color: antiquewhite; */
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.item-carousel{
    min-width: 140px;
    /* background-color: aqua; */
    border-radius: 5px;
    overflow: hidden;
}

.item-carousel:hover{
    background-color: rgba(76, 0, 255, 0.4);
}

.item-carousel img{
    object-fit: contain;
    -o-object-fit: contain;
    width: 100%;
    height: 70%;
    /* background-color: antiquewhite; */
}

.item-carousel h3{
    text-align: center;
    /* background-color: aquamarine; */
}

.related-products ion-icon{
    width: 3rem;
    height: 3rem;
    margin: 0 1em;
    color: rgb(168, 169, 231);
    filter: drop-shadow(5px 5px 5px black) drop-shadow(-3px -3px 5px white);
    -webkit-filter: drop-shadow(5px 5px 5px black) drop-shadow(-3px -3px 5px white);
}

.arrows-slider{
    display: flex;
    display: -webkit-flex;
    height: 15%;
}

.related-products ion-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.related-products .mousedown-icons{
    transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9)
}

@media screen and (max-width: 500px) {
    .title-article h2{
        font-size: 1.5rem;
        hyphens: auto;
    }
}

@keyframes expanding{
    0% {
        color: black;
        background-color: rgb(137, 39, 230);
        transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 1;
    }
    100%{
        color: black;
        background-color: rgb(137, 39, 230);
        transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: .2;
    }
}

@-o-keyframes expanding{
    0% {
        color: black;
        background-color: rgb(137, 39, 230);
        transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 1;
    }
    100%{
        color: black;
        background-color: rgb(137, 39, 230);
        transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: .2;
    }
}

@-moz-keyframes expanding{
    0% {
        color: black;
        background-color: rgb(137, 39, 230);
        transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 1;
    }
    100%{
        color: black;
        background-color: rgb(137, 39, 230);
        transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: .2;
    }
}

@-webkit-keyframes expanding{
    0% {
        color: black;
        background-color: rgb(137, 39, 230);
        transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 1;
    }
    100%{
        color: black;
        background-color: rgb(137, 39, 230);
        transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: .2;
    }
}


@keyframes aparition{
    from {
        transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 0;
    }
    to{
        transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-o-keyframes aparition{
    from {
        transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 0;
    }
    to{
        transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes aparition{
    from {
        transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 0;
    }
    to{
        transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes aparition{
    from {
        transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 0;
    }
    to{
        transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
