.navbar{
    height: 70px;
    width: 100%;
    background-color: #5809EC;
    position: fixed;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.filter{
    width: 15%;
    height: 10vw;
    max-height: 70px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue; */
}

.filter img{
    /* width: 40px; */
    width: 40%;
    height: 60%;
    min-width: 30px;
    max-width: 40px;
    max-height: 70px;
    min-height: 40px;
    filter: invert(80%);
    -webkit-filter: invert(80%);
    /* background-color: aliceblue; */
}

.search{
    width: 60%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.search input{
    width: 90%;
    height: 60%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1.5px solid gray;
    padding-left: 5px;
    font-size: 1em;
}

.search input:focus {
    background-color: rgb(255, 241, 209);
    outline: none;
}

.search img{
    background-color: aliceblue;
    padding:5px;
    height: 42px;
    border: 1px 1px 1px 0px;
    border-left: 0px;
    border-color: gray;
    border-style: solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search img:hover{
    cursor: pointer;
    filter: invert(20%);
    -webkit-filter: invert(20%);
}

.icons{
    width: 25%;
    min-width: 110px;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: right;
    align-items: center;
    margin-left: 10px;
    gap: 0.7em;
    /* background-color: aquamarine; */
}

.icons > div{
    width: 30%;
    max-width: 40px;
    min-width: 30px;
    min-height: 50px;
    max-height: 70px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    filter: invert(80%);
    -webkit-filter: invert(80%);
    /* background-color: aliceblue; */
}

.icons div a{
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    transition: filter .2s ease-out;
    -o-transition: filter .2s ease-out;
    -moz-transition: filter .2s ease-out;
    -webkit-transition: filter .2s ease-out;
}

.icons div a:hover{
    filter: invert(80%);
    -webkit-filter: invert(80%);
}

.account img:hover,
.filter img:hover{
    filter: invert(50%);
    -webkit-filter: invert(50%);
    cursor: pointer;
}

.car{
    position: relative;
    /* background-color: aliceblue; */
}

.car-counter{
    position: absolute;
    width: 45%;
    aspect-ratio: 1/1;
    min-width: 15px;
    max-width: 20px;
    background-color: rgb(250, 8, 8);
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    color: rgb(251, 250, 250);
    bottom: -5%;
    right: -5%;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.car img:hover{
    filter: invert(80%);
    -webkit-filter: invert(80%);
    cursor: pointer;
}

.hide-counter{
    display: none;
}

.filter-container{
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 12;
    top: 70px;
    background-color: rgba(6, 6, 6, 0.80);
    /* border-bottom: 4px solid black; */
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-around;
    transition: clip-path .2s linear;
    clip-path: inset(0% 0% 100% 0%);
}

.filter-price,
.filter-product,
.filter-anime,
.buttons-filter{
    height: 100%;
    /* background-color: aliceblue; */
    padding: 10px 0px 0px 10px;
    width: 25%;
}

.filter-container label,
.filter-container select,
.filter-container button{
    display: block;
    text-align: center;
    margin: 0 auto;
}

.buttons-filter{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    padding-top: 0;
}

.buttons-filter button{
    width: 80%;
    height: 35%;
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: rgb(4, 4, 29);
    color: white;
    font-size: 16px;
}

.buttons-filter button:hover{
    cursor: pointer;
    background-color: rgb(38, 38, 39);
}

.filter-container label{
    color: white;
    font-size: 18px;
}

.filter-container select{
    border-radius: 5px;
    height: 40%;
    /* border: 2px solid black; */
    background-color: rgb(2, 2, 19);
    color: white;
}

.filter-container option{
    font-size: 15px;
}

.filter-clip{
    clip-path: inset(0% 0% 0% 0%) !important;
}

.container-help{
    width: 200px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    justify-content: right;
    background-color: rgb(20, 20, 20);
    color: rgb(244, 242, 242);
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 15;
    clip-path: inset(0% 0% 100% 0%);
    transition: clip-path .2s linear;
    -o-transition: clip-path .2s linear;
    -moz-transition: clip-path .2s linear;
    -webkit-transition: clip-path .2s linear;
}

.container-help h4{
    height: 40px;
    text-align: left;
    width: 100%;
    padding: 10px;
}

.container-help h4:hover{
    background-color: gray;
    color: black;
}

@media screen and (max-width: 600px){
    .filter-container{
        height: 80%;
        width: 60%;
        min-height: 500px;
        max-width: 250px;
        flex-direction: column;
        -ms-flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 10%;
        padding-top: 8%;
        background-color: rgba(6, 6, 6, 0.80);
    }

    .filter-price,
    .filter-product,
    .filter-anime,
    .buttons-filter{
        /* background-color: aliceblue; */
        width: 100%;
        height: 10%;
        display: block;
        margin: 0;
    }

    .filter-container select{
        height: 70%;
        width: 60%;
        font-size: 16px;
    }

    .buttons-filter{
        gap: 10px;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -ms-flex-direction: row;
        margin-top: 20px;
    }

    .filter-container button{
        height: 60%;
        font-size: 16px;
    }

    .filter-container label{
        margin-bottom: 5px;
        font-size: 20px;
    }
}