
@font-face {
  font-family: 'comic';
  src: url(/fonts/Action\ Comics.ttf);
}

body{
  background-color: black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.container{
  width: 100%;
  min-height: 100vh;
  /* min-width: 99vw; */
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.455)), url(/images/fondo/Fondo\ pagina\ copia.jpg);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.455)), url(/images/fondo/Fondo\ pagina\ copia.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0;
  overflow: hidden;
  -webkit-animation: animationHome .4s linear;
  -o-animation: animationHome .4s linear;
  -ms-animation: animationHome .4s linear;
  animation: animationHome .4s linear;
}

.title-div{
  width: 100%;
  padding: 0 0.3em;
  position: absolute;
  top: 10vh;
  /* min-height: 30vh; */
  /* background-color: black; */
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.title-div h1{
  font-size: 1.8rem;
  line-height: 3.5rem;
  text-align: center;
  /* display: block; */
  position: static;
  font-family: comic;
  color: rgb(244, 239, 239);
  text-shadow: 0px 10px 10px rgba(233, 101, 40, 0.952), 10px 0px 10px rgba(188, 40, 233, 0.952), 0px -10px 10px rgba(40, 53, 233, 0.952), -10px 0px 10px rgba(233, 40, 75, 0.952);
}

.swiper {
  width: 90%;
  margin: 40vh auto ;
  padding: 30px;
  border-radius: 5px;
  /* background-color: aliceblue; */
}

.swiper-slide {
  width: 30%;
  aspect-ratio: 1/1;
  max-width: 400px;
  min-width: 200px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
}

.swiper-slide a{
  display: flex;
  display: -webkit-flex;
  width: 100%;
  /* cursor: grab; */
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
  -o-object-position: center;
}

@media screen and ( min-width: 900px ){
    .store-name{
      font-size: 250%;
    }
}

@keyframes animationHome{
  from {
    clip-path: circle( 0% at 0% 0%);
  }

  to {
    clip-path: circle( 100% at 0% 0%);
  }
}

@-o-keyframes animationHome{
  from {
    clip-path: circle( 0% at 0% 0%);
  }

  to {
    clip-path: circle( 100% at 0% 0%);
  }
}

@-moz-keyframes animationHome{
  from {
    clip-path: circle( 0% at 0% 0%);
  }

  to {
    clip-path: circle( 100% at 0% 0%);
  }
}

@-webkit-keyframes animationHome{
  from {
    clip-path: circle( 0% at 0% 0%);
  }

  to {
    clip-path: circle( 100% at 0% 0%);
  }
}

